<a href="javascript:void(0);" on:click="set({__showDialog: true})">{{linkText}}</a>

{{#if __showDialog}}
  <div class="recovery-dialog-container layout-compact">
    <div class="recovery-dialog-overlay" on:click="set({__showDialog: false})"></div>
    {{#if __recovering}}
      <div class="recovery-dialog loading">
        <span>
          <svg style="display: inline;" width="16" height="16" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#000000">
              <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur="1s" fill="freeze" repeatCount="indefinite" />
            </path>
          </svg>
          This will just take a second...
        </span>
      </div>
    {{elseif __successRecoveredMessage}}
      <div class="recovery-dialog">
        <div>
          {{__successRecoveredMessage}}
        </div>
      </div>
    {{else}}
      <form ref:form onsubmit="return false;" class="recovery-dialog pf-form">
        <div class="pf-element pf-heading">
          <h2 class="recovery-dialog-title">Account Recovery</h2>
        </div>
        {{#if !__hasSentSecret}}
          {{#if !__clientConfig.email_usernames}}
            <div class="pf-element">
              <span class="pf-label">Recovery Type</span>
              <label><input class="pf-field" bind:group="recoveryType" type="radio" name="type" value="password" /> I forgot my password.</label>
              <label><input class="pf-field" bind:group="recoveryType" type="radio" name="type" value="username" /> I forgot my username.</label>
            </div>
          {{/if}}
          <div class="pf-element">
            {{#if recoveryType === 'password'}}
              <p>To reset your password, type the {{__clientConfig.email_usernames ? 'email' : 'username'}} you use to sign in below.</p>
            {{/if}}
            {{#if recoveryType === 'username'}}
              <p>To get your username, type your email as you entered it when creating your account.</p>
            {{/if}}
          </div>
          <div class="pf-element">
            <label>
              {{#if recoveryType === 'password'}}
                <span class="pf-label">{{__clientConfig.email_usernames ? 'Email Address' : 'Username'}}</span>
              {{/if}}
              {{#if recoveryType === 'username'}}
                <span class="pf-label">Email Address</span>
              {{/if}}
              <input class="pf-field" type="text" ref:account bind:value="account" size="24" value="" />
            </label>
          </div>
        {{else}}
          <div class="pf-element">
            <label>
              <span class="pf-label">Password</span>
              <input class="pf-field" bind:value="password" type="password" name="password" size="24" />
            </label>
          </div>
          <div class="pf-element">
            <label>
              <span class="pf-label">Re-enter Password</span>
              <input class="pf-field" bind:value="password2" type="password" name="password2" size="24" />
            </label>
          </div>
        {{/if}}

        <div class="pf-element {{layout === 'small' ? '' : 'pf-buttons'}}">
          {{#if !__hasSentSecret}}
            <button class="pf-button" type="submit" on:click="sendRecoveryLink()">Send Recovery Link</button>
          {{/if}}
          <button class="pf-button" on:click="set({__showDialog: false})">Close</button>
        </div>
      </form>
    {{/if}}
  </div>
{{/if}}

<script>
  import Nymph from 'Nymph';
  import User from 'User';

  export default {
    oncreate () {
      User.getClientConfig().then(__clientConfig => {
        this.set({__clientConfig});
      });

      this.observe('__showDialog', (value) => {
        if (value && this.get('autofocus') && this.refs.account) {
          this.refs.account.focus();
        }
      });
    },

    data () {
      return {
        linkText: 'I can\'t access my account.', // The text used to toggle the dialog.
        autofocus: true, // Give focus to the account box when the form is ready.
        recoveryType: 'password',
        __clientConfig: {
          'reg_fields': [],
          'email_usernames': true,
          'allow_registration': true,
          'pw_recovery': true,
          'timezones': []
        },
        __showDialog: false,
        __recovering: false,
        __hasSentSecret: false,

        // These are all user provided details.
        account: '',
        secret: '',
        password: '',
        password2: ''
      };
    },

    methods: {
      sendRecoveryLink() {
        if (this.get('account') === '') {
          alert('You need to enter '+(this.get('__clientConfig').email_usernames ? 'an email address' : 'a username')+'.');
          return;
        }
        if (this.get('password') != this.get('password2')) {
          alert('Your passwords do not match.');
          return;
        }
        if (this.get('password') === '') {
          alert('You need to enter a password');
          return;
        }

        // Create a new user.
        let user = new User();

        this.set({'__recovering': true});
        user.sendRecoveryLink({'password': this.get('password')}).then((data) => {
          if (!data.result) {
            alert(data.message);
          } else {
            this.set({
              __successRegisteredMessage: data.message
            });
          }
          this.set({'__recovering': false});
        }, () => {
          alert('An error occurred.');
          this.set({'__recovering': false});
        });
      }
    }
  }
</script>

<style>
  .recovery-dialog-container {
    display: flex;
    align-items: center;
  }
  .recovery-dialog-container.layout-compact {
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
  }
  .recovery-dialog-overlay {
    display: none;
  }
  .recovery-dialog-container.layout-compact .recovery-dialog-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .recovery-dialog {
    display: flex;
    flex-direction: column;
  }
  .recovery-dialog-container.layout-compact .recovery-dialog {
    padding: 2em;
    box-shadow: 0px 5px 36px 0px rgba(0,0,0,0.25);
    background-color: #fff;
    max-height: 80vh;
    max-width: 80vw;
    overflow: auto;
    z-index: 2;
  }
  .recovery-dialog-container.layout-compact .recovery-dialog.loading {
    width: 90vw;
    height: 90vh;
    max-width: 260px;
    max-height: 100px;
    justify-content: center;
    align-items: center;
  }

  .recovery-dialog-title {
    padding-top: 0;
    margin-top: 0;
  }
</style>
