{{#if __user && __user.guid}}
  {{#if layout === 'compact'}}
    <a href="javascript:void(0);" on:click="set({__showDialog: true})">{{compactText}}</a>
  {{/if}}

  {{#if layout !== 'compact' || __showDialog}}
    <div class="change-password-dialog-container layout-{{layout}}">
      <div class="change-password-dialog-overlay" on:click="set({__showDialog: false})"></div>
      {{#if __changing}}
        <div class="change-password-dialog loading">
          <span>
            <svg style="display: inline;" width="16" height="16" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#000000">
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur="1s" fill="freeze" repeatCount="indefinite" />
              </path>
            </svg>
            {{#if __changing}}
              This will just take a second...
            {{/if}}
          </span>
        </div>
      {{elseif __successChangedMessage}}
        <div class="change-password-dialog">
          <div>
            {{__successChangedMessage}}
          </div>
          {{#if layout === 'compact'}}
            <div class="close-button-container">
              <button class="pf-button {{classButton}}" type="button" on:click="set({__showDialog: false})">Close</button>
            </div>
          {{/if}}
        </div>
      {{else}}
        <form ref:form onsubmit="return false;" class="change-password-dialog pf-form {{layout === 'small' ? 'pf-layout-block' : ''}}">
          {{#if layout === 'compact'}}
            <div class="pf-element pf-heading">
              <h2 class="change-password-dialog-title">{{compactText}}</h2>
            </div>
          {{/if}}
          <div class="pf-element">
            <label>
              <span class="pf-label">Old Password</span>
              <input class="pf-field {{classInput}}" bind:value="oldPassword" type="password" name="oldPassword" size="24" />
            </label>
          </div>
          <div class="pf-element">
            <label>
              <span class="pf-label">New Password</span>
              <input class="pf-field {{classInput}}" bind:value="password" type="password" name="password" size="24" />
            </label>
          </div>
          <div class="pf-element">
            <label>
              <span class="pf-label">Re-enter New Password</span>
              <input class="pf-field {{classInput}}" bind:value="password2" type="password" name="password2" size="24" />
            </label>
          </div>

          {{#if __failureMessage}}
            <div class="pf-element pf-full-width">
              <span class="pf-group pf-full-width">
                <span class="pf-field" style="display: block;">
                  {{__failureMessage}}
                </span>
              </span>
            </div>
          {{/if}}

          <div class="pf-element {{layout === 'small' ? '' : 'pf-buttons'}}">
            <button class="pf-button {{classSubmit}}" type="submit" on:click="changePassword()">Change Password</button>
            {{#if layout === 'compact'}}
              <button class="pf-button {{classButton}}" type="button" on:click="set({__showDialog: false})">Close</button>
            {{/if}}
          </div>
        </form>
      {{/if}}
    </div>
  {{/if}}
{{else}}
  You must be logged in to change your password.
{{/if}}

<script>
  import Nymph from 'Nymph';
  import User from 'User';

  export default {
    oncreate () {
      User.current().then(user => {
        this.set({__user: user});
      });

      User.on('login', user => {
        this.set({__user: user});
      });
      User.on('logout', () => {
        this.set({__user: null});
      });

      this.observe('__showDialog', value => {
        if (!value) {
          this.set({
            __changing: false,
            __failureMessage: null,
            __successChangedMessage: null,
            oldPassword: '',
            password: '',
            password2: ''
          });
        }
      });
    },

    data () {
      return {
        layout: 'normal', // 'normal', 'small', or 'compact'
        compactText: 'Change password', // The text used to toggle the dialog when 'compact' layout is selected.
        classInput: '',
        classSubmit: '',
        classButton: '',
        __user: null,
        __showDialog: false,
        __changing: false,

        // These are all user provided details.
        oldPassword: '',
        password: '',
        password2: ''
      };
    },

    methods: {
      changePassword() {
        if (this.get('oldPassword') === '') {
          this.set({__failureMessage: 'You need to enter your current password'});
          return;
        }
        if (this.get('password') != this.get('password2')) {
          this.set({__failureMessage: 'Your passwords do not match.'});
          return;
        }
        if (this.get('password') === '') {
          this.set({__failureMessage: 'You need to enter a new password'});
          return;
        }

        this.set({
          __failureMessage: null,
          __changing: true
        });
        // Get the current user again, in case their data has changed.
        User.current().then(user => {
          this.set({__user: user});

          if (!user || !user.guid) {
            this.set({
              __failureMessage: 'You must be logged in.',
              __changing: false
            });
            return;
          }

          // Create a new user.
          user.changePassword({'oldPassword': this.get('oldPassword'), 'password': this.get('password')}).then((data) => {
            if (!data.result) {
              this.set({__failureMessage: data.message});
            } else {
              this.set({__successChangedMessage: data.message});
            }
            this.set({__changing: false});
          }, () => {
            this.set({
              __failureMessage: 'An error occurred.',
              __changing: false
            });
          });
        });
      }
    }
  }
</script>

<style>
  .change-password-dialog-container {
    display: flex;
    align-items: center;
  }
  .change-password-dialog-container.layout-compact {
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
  }
  .change-password-dialog-overlay {
    display: none;
  }
  .change-password-dialog-container.layout-compact .change-password-dialog-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .change-password-dialog {
    display: flex;
    flex-direction: column;
  }
  .change-password-dialog-container.layout-compact .change-password-dialog {
    padding: 2em;
    box-shadow: 0px 5px 36px 0px rgba(0,0,0,0.25);
    background-color: #fff;
    max-height: 80vh;
    max-width: 80vw;
    overflow: auto;
    z-index: 2;
  }
  .change-password-dialog-container.layout-compact .change-password-dialog.loading {
    width: 90vw;
    height: 90vh;
    max-width: 260px;
    max-height: 100px;
    justify-content: center;
    align-items: center;
  }
  .change-password-dialog-title {
    padding-top: 0;
    margin-top: 0;
  }
  .close-button-container {
    text-align: right;
    margin-top: 1em;
  }
</style>
