{{#if layout === 'compact'}}
  {{#if __successLoginMessage}}
    {{__successLoginMessage}}
  {{else}}
    <a href="javascript:void(0);" on:click="set({__showDialog: true})">{{compactText}}</a>
  {{/if}}
{{/if}}

{{#if layout !== 'compact' || __showDialog}}
  <div class="login-dialog-container layout-{{layout}}">
    <div class="login-dialog-overlay" on:click="set({__showDialog: false})"></div>
    {{#if __registering || __loggingin}}
      <div class="login-dialog loading">
        <span>
          <svg style="display: inline;" width="16" height="16" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#000000">
              <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur="1s" fill="freeze" repeatCount="indefinite" />
            </path>
          </svg>
          {{#if __registering}}
            Registering...
          {{/if}}
          {{#if __loggingin}}
            Logging in...
          {{/if}}
        </span>
      </div>
    {{elseif __successRegisteredMessage}}
      <div class="login-dialog">
        <div>
          {{__successRegisteredMessage}}
        </div>
        {{#if layout === 'compact'}}
          <div class="close-button-container">
            <button class="pf-button" type="button" on:click="set({__showDialog: false})">Close</button>
          </div>
        {{/if}}
      </div>
    {{elseif __successLoginMessage}}
      <div class="login-dialog">
        <div>
          {{__successLoginMessage}}
        </div>
      </div>
    {{else}}
      <form ref:form onsubmit="return false;" class="login-dialog pf-form {{layout === 'small' ? 'pf-layout-block' : ''}}">
        {{#if layout === 'compact'}}
          <div class="pf-element pf-heading">
            <h2 class="login-dialog-title">{{compactText}}</h2>
          </div>
        {{/if}}

        {{#if __clientConfig.allow_registration && showExistingUserCheckbox}}
          <div class="pf-element">
            <span class="{{layout !== 'small' ? 'pf-group' : ''}}" style="display: {{layout !== 'small' ? 'block' : 'in-line'}};">
              <label><input class="pf-field" type="checkbox" bind:checked="existingUser" /> I have an account.</label>
            </span>
          </div>
        {{/if}}

        <div class="pf-element">
          <label>
            <span class="pf-label">{{__clientConfig.email_usernames ? 'Email' : 'Username'}}</span>
            <span class="{{layout !== 'small' ? 'pf-group' : ''}}" style="display: {{layout !== 'small' ? 'block' : 'in-line'}};">
              {{#if __clientConfig.email_usernames}}
                <input class="pf-field" bind:value="username" ref:username type="email" name="email" size="24" />
              {{else}}
                <input class="pf-field" bind:value="username" ref:username type="text" name="username" size="24" />
              {{/if}}
              {{#if !existingUser}}
                {{#if layout === 'small' || layout === 'compact'}}
                  <br class="pf-clearing" />
                {{/if}}
                {{#if __usernameVerifiedMessage}}
                  <span class="pf-field">{{__usernameVerifiedMessage}}</span>
                {{/if}}
              {{/if}}
            </span>
          </label>
        </div>
        <div class="pf-element">
          <label>
            <span class="pf-label">Password</span>
            <input class="pf-field" bind:value="password" type="password" name="password" size="24" />
          </label>
        </div>
        {{#if __clientConfig.allow_registration && !existingUser}}
          <div class="pf-element">
            <label>
              <span class="pf-label">Re-enter Password</span>
              <input class="pf-field" bind:value="password2" type="password" name="password2" size="24" />
            </label>
          </div>
          {{#if __clientConfig.reg_fields.indexOf('name') !== -1}}
            <div class="pf-element">
              <label>
                <span class="pf-label">Name</span>
                <input class="pf-field" bind:value="name" type="text" name="name" size="24" />
              </label>
            </div>
          {{/if}}
          {{#if !__clientConfig.email_usernames && __clientConfig.reg_fields.indexOf('email') !== -1}}
            <div class="pf-element">
              <label>
                <span class="pf-label">Email</span>
                <input class="pf-field" bind:value="email" type="email" name="email" size="24" />
              </label>
            </div>
          {{/if}}
          {{#if __clientConfig.reg_fields.indexOf('phone') !== -1}}
            <div class="pf-element">
              <label>
                <span class="pf-label">Phone Number</span>
                <input class="pf-field" bind:value="phone" type="tel" name="phone" size="24" />
              </label>
            </div>
          {{/if}}
          {{#if __clientConfig.reg_fields.indexOf('timezone') !== -1}}
            <div class="pf-element {{layout === 'small' ? 'pf-full-width' : ''}}">
              <label>
                <span class="pf-label">Timezone</span>
                <span class="pf-note">This overrides the primary group&apos;s timezone.</span>
                <span class="{{layout === 'compact' ? 'pf-group' : ''}}" style="display: {{layout === 'compact' ? 'block' : 'in-line'}};">
                  <select class="pf-field" bind:value="timezone" name="timezone" style="{{layout === 'small' ? 'max-width: 95%;' : ''}}">
                    <option value="">--Default--</option>
                    {{#each __clientConfig.timezones as tz}}
                      <option value="{{tz}}">{{tz}}</option>
                    {{/each}}
                  </select>
                </span>
              </label>
            </div>
          {{/if}}
          {{#if __clientConfig.reg_fields.indexOf('address') !== -1}}
            <div class="pf-element">
              <span class="pf-label">Address Type</span>
              <label><input class="pf-field" bind:group="addressType" type="radio" name="addressType" value="us" /> US</label>
              <label><input class="pf-field" bind:group="addressType" type="radio" name="addressType" value="international" /> International</label>
            </div>
            {{#if addressType === 'us'}}
              <div class="pf-element">
                <label>
                  <span class="pf-label">Address 1</span>
                  <input class="pf-field" bind:value="addressStreet" type="text" name="street" size="24" />
                </label>
              </div>
              <div class="pf-element">
                <label>
                  <span class="pf-label">Address 2</span>
                  <input class="pf-field" bind:value="addressStreet2" type="text" name="street2" size="24" />
                </label>
              </div>
              <div class="pf-element {{layout === 'small' ? 'pf-full-width' : ''}}">
                <span class="pf-label">City, State</span>
                <span class="{{layout === 'compact' ? 'pf-group' : ''}}" style="{{layout === 'compact' ? 'white-space: nowrap; margin-right: 16px; display: block;' : 'display: in-line;'}}">
                  <input class="pf-field" bind:value="addressCity" type="text" name="city" size="{{layout === 'small' ? '10' : '15'}}" />
                  <select class="pf-field" bind:value="addressState" name="state" style="{{layout === 'small' ? 'max-width: 95%;' : ''}}">
                    {{#each states as state}}
                      <option value="{{state[0]}}">{{state[1]}}</option>
                    {{/each}}
                  </select>
                </span>
              </div>
              <div class="pf-element">
                <label>
                  <span class="pf-label">Zip</span>
                  <input class="pf-field" bind:value="addressZip" type="text" name="zip" size="24" />
                </label>
              </div>
            {{else}}
              <div class="pf-element pf-full-width">
                <label>
                  <span class="pf-label">Address</span>
                  <span class="pf-group pf-full-width">
                    <span class="pf-field" style="display: block;">
                      <textarea style="width: 100%;" rows="3" cols="35" bind:value="addressInternational" name="address"></textarea>
                    </span>
                  </span>
                </label>
              </div>
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if __failureMessage}}
          <div class="pf-element pf-full-width">
            <span class="pf-group pf-full-width">
              <span class="pf-field" style="display: block;">
                {{__failureMessage}}
              </span>
            </span>
          </div>
        {{/if}}

        <div class="pf-element {{layout === 'small' ? '' : 'pf-buttons'}}">
          {{#if existingUser}}
            <button class="pf-button" type="submit" on:click="login()">Log In</button>
          {{else}}
            <button class="pf-button" type="submit" on:click="register()">Create Account</button>
          {{/if}}
          {{#if layout === 'compact'}}
            <button class="pf-button" type="button" on:click="set({__showDialog: false})">Close</button>
          {{/if}}
        </div>

        {{#if !hideRecovery && __clientConfig.pw_recovery && existingUser}}
          <div class="pf-element pf-full-width">
            <span class="pf-group pf-full-width">
              <span class="pf-field" style="display: block;">
                <TilmeldRecover account="{{username}}"></TilmeldRecover>
              </span>
            </span>
          </div>
        {{/if}}
      </form>
    {{/if}}
  </div>
{{/if}}

<script>
  import Nymph from 'Nymph';
  import User from 'User';
  import TilmeldRecover from './TilmeldRecover.html';

  export default {
    oncreate () {
      User.getClientConfig().then(__clientConfig => {
        this.set({__clientConfig});
        if (!__clientConfig.allow_registration) {
          this.set({existingUser: true});
        }
        if (this.get('autofocus') && this.refs.username) {
          this.refs.username.focus();
        }
      });

      const checkUsername = (newValue, oldValue) => {
        if (newValue === oldValue) {
          return;
        }
        this.set({
          __usernameVerified: null,
          __usernameVerifiedMessage: null
        });
        let __usernameTimer = this.get('__usernameTimer');
        if (__usernameTimer) {
          clearTimeout(__usernameTimer);
          this.set({__usernameTimer: null});
        }
        if (newValue === '' || this.get('existingUser')) {
          return;
        }
        __usernameTimer = setTimeout(() => {
          let user = new User();
          user.set('username', newValue);
          if (this.get('__clientConfig').email_usernames) {
            user.set('email', newValue);
          }
          user.checkUsername().then((data) => {
            this.set({
              __usernameVerified: data.result,
              __usernameVerifiedMessage: data.result ? '' : data.message
            });
          }, () => {
            this.set({
              __usernameVerified: false,
              __usernameVerifiedMessage: 'Error checking username.'
            });
          });
        }, 400);
        this.set({__usernameTimer});
      };

      this.observe('existingUser', value => {
        if (!value) {
          checkUsername(this.get('username'));
        }
      });

      this.observe('username', checkUsername);
    },

    data () {
      return {
        layout: 'normal', // 'normal', 'small', or 'compact'
        compactText: 'Log in/Sign up', // The text used to toggle the dialog when 'compact' layout is selected.
        hideRecovery: false, // Hide the recovery link that only appears if password recovery is on.
        autofocus: true, // Give focus to the username box (or email box) when the form is ready.
        existingUser: true, // This determines whether the 'I have an account.' box is checked and the registration form is shown.
        showExistingUserCheckbox: true, // Whether to show the 'I have an account.' box.
        states: [ // The states available when address type is US.
          ['AL', 'Alabama'],
          ['AK', 'Alaska'],
          ['AZ', 'Arizona'],
          ['AR', 'Arkansas'],
          ['CA', 'California'],
          ['CO', 'Colorado'],
          ['CT', 'Connecticut'],
          ['DE', 'Delaware'],
          ['DC', 'DC'],
          ['FL', 'Florida'],
          ['GA', 'Georgia'],
          ['HI', 'Hawaii'],
          ['ID', 'Idaho'],
          ['IL', 'Illinois'],
          ['IN', 'Indiana'],
          ['IA', 'Iowa'],
          ['KS', 'Kansas'],
          ['KY', 'Kentucky'],
          ['LA', 'Louisiana'],
          ['ME', 'Maine'],
          ['MD', 'Maryland'],
          ['MA', 'Massachusetts'],
          ['MI', 'Michigan'],
          ['MN', 'Minnesota'],
          ['MS', 'Mississippi'],
          ['MO', 'Missouri'],
          ['MT', 'Montana'],
          ['NE', 'Nebraska'],
          ['NV', 'Nevada'],
          ['NH', 'New Hampshire'],
          ['NJ', 'New Jersey'],
          ['NM', 'New Mexico'],
          ['NY', 'New York'],
          ['NC', 'North Carolina'],
          ['ND', 'North Dakota'],
          ['OH', 'Ohio'],
          ['OK', 'Oklahoma'],
          ['OR', 'Oregon'],
          ['PA', 'Pennsylvania'],
          ['RI', 'Rhode Island'],
          ['SC', 'South Carolina'],
          ['SD', 'South Dakota'],
          ['TN', 'Tennessee'],
          ['TX', 'Texas'],
          ['UT', 'Utah'],
          ['VT', 'Vermont'],
          ['VA', 'Virginia'],
          ['WA', 'Washington'],
          ['WV', 'West Virginia'],
          ['WI', 'Wisconsin'],
          ['WY', 'Wyoming'],
          ['AA', 'Armed Forces (AA)'],
          ['AE', 'Armed Forces (AE)'],
          ['AP', 'Armed Forces (AP)']
        ],
        __clientConfig: {
          'reg_fields': [],
          'email_usernames': true,
          'allow_registration': true,
          'pw_recovery': true,
          'timezones': []
        },
        __showDialog: false,
        __registering: false,

        // These are all user provided details.
        username: '',
        password: '',
        password2: '',
        name: '',
        email: '',
        phone: '',
        timezone: '',
        addressType: 'us',
        addressStreet: '',
        addressStreet2: '',
        addressCity: '',
        addressState: 'AL',
        addressZip: '',
        addressInternational: ''
      };
    },

    computed: {
      nameFirst: (name) => (name.match(/^(.*?)(?: ([^ ]+))?$/)[1] || ''),
      nameLast: (name) => (name.match(/^(.*?)(?: ([^ ]+))?$/)[2] || '')
    },

    methods: {
      login() {
        if (this.get('username') === '') {
          this.set({__failureMessage: 'You need to enter a username.'});
          return;
        }
        if (this.get('password') === '') {
          this.set({__failureMessage: 'You need to enter a password'});
          return;
        }

        this.set({
          __failureMessage: null,
          __loggingin: true
        });
        User.loginUser({username: this.get('username'), password: this.get('password')}).then((data) => {
          if (!data.result) {
            this.set({__failureMessage: data.message});
          } else {
            this.set({
              __successLoginMessage: data.message,
              __showDialog: false
            });
            this.fire('login', {user: data.user});
          }
          this.set({__loggingin: false});
        }, () => {
          this.set({
            __failureMessage: 'An error occurred.',
            __loggingin: false
          });
        });
      },

      register() {
        if (this.get('username') === '') {
          this.set({__failureMessage: 'You need to enter a username.'});
          return;
        }
        if (!this.get('__usernameVerified')) {
          this.set({__failureMessage: 'The username you entered is not valid.'});
          return;
        }
        if (this.get('password') != this.get('password2')) {
          this.set({__failureMessage: 'Your passwords do not match.'});
          return;
        }
        if (this.get('password') === '') {
          this.set({__failureMessage: 'You need to enter a password'});
          return;
        }

        // Create a new user.
        let user = new User();
        user.set('username', this.get('username'));
        if (this.get('__clientConfig').email_usernames) {
          user.set('email', this.get('username'));
        } else if (this.get('__clientConfig').reg_fields.indexOf('email') !== -1) {
          user.set('email', this.get('email'));
        }
        if (this.get('__clientConfig').reg_fields.indexOf('name') !== -1) {
          user.set({
            'nameFirst': this.get('nameFirst'),
            'nameLast': this.get('nameLast')
          });
        }
        if (this.get('__clientConfig').reg_fields.indexOf('phone') !== -1) {
          user.set('phone', this.get('phone'));
        }
        if (this.get('__clientConfig').reg_fields.indexOf('timezone') !== -1) {
          user.set('timezone', this.get('timezone'));
        }
        if (this.get('__clientConfig').reg_fields.indexOf('address') !== -1) {
          user.set({
            'addressType': this.get('addressType'),
            'addressStreet': this.get('addressStreet'),
            'addressStreet2': this.get('addressStreet2'),
            'addressCity': this.get('addressCity'),
            'addressState': this.get('addressState'),
            'addressZip': this.get('addressZip'),
            'addressInternational': this.get('addressInternational'),
          });
        }

        this.set({
          __failureMessage: null,
          __registering: true
        });
        user.register({'password': this.get('password')}).then((data) => {
          if (!data.result) {
            this.set({__failureMessage: data.message});
          } else {
            this.set({__successRegisteredMessage: data.message});
            this.fire('register', {user});
          }
          if (data.loggedin) {
            this.set({
              __successLoginMessage: data.message,
              __showDialog: false
            });
            this.fire('login', {user});
          }
          this.set({__registering: false});
        }, () => {
          this.set({
            __failureMessage: 'An error occurred.',
            __registering: false
          });
        });
      }
    },

    components: {
      TilmeldRecover
    }
  }
</script>

<style>
  .login-dialog-container {
    display: flex;
    align-items: center;
  }
  .login-dialog-container.layout-compact {
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
  }
  .login-dialog-overlay {
    display: none;
  }
  .login-dialog-container.layout-compact .login-dialog-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .login-dialog {
    display: flex;
    flex-direction: column;
  }
  .login-dialog-container.layout-compact .login-dialog {
    padding: 2em;
    box-shadow: 0px 5px 36px 0px rgba(0,0,0,0.25);
    background-color: #fff;
    max-height: 80vh;
    max-width: 80vw;
    overflow: auto;
    z-index: 2;
  }
  .login-dialog-container.layout-compact .login-dialog.loading {
    width: 90vw;
    height: 90vh;
    max-width: 260px;
    max-height: 100px;
    justify-content: center;
    align-items: center;
  }
  .login-dialog-title {
    padding-top: 0;
    margin-top: 0;
  }
  .close-button-container {
    text-align: right;
    margin-top: 1em;
  }
</style>
