<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col align-self-center">
        Group Search
      </div>
      <div class="col text-right">
        <button class="btn btn-secondary btn-sm" ng-click="setEntity()">Create New Group</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="input-group">
      <input class="form-control align-bottom" type="text" name="search-entities" ng-model="uiState.entitySearch" ng-keydown="$event.keyCode === 13 ? ($event.preventDefault() || $event.stopPropagation()) : void(0)" />
      <div class="input-group-append">
        <button ng-click="searchEntities()" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item disabled" type="button" disabled ng-if="entities === null"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i> Searching...</button>
          <button class="dropdown-item disabled" type="button" disabled ng-if="entities.length === 0">No results</button>
          <button class="dropdown-item" type="button" ng-repeat="curEntity in entities track by curEntity.guid" ng-click="setEntity(curEntity)">{{curEntity.name+' ('+curEntity.groupname+')'}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-3 border border-top-0 border-right-0 border-left-0">
  <h2>Editing {{entity.guid ? entity.name : 'New Group'}}</h2>
  <p class="lead" ng-if="entity.user">Generated primary group for {{entity.user.name}} ({{entity.user.username}})</p>
</div>
<form name="groupform" ng-submit="saveEntity()" autocomplete="off">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href=".tab-pane-general" data-toggle="tab" role="tab" aria-selected="true">General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=".tab-pane-abilities" data-toggle="tab" role="tab" aria-selected="false">Abilities</a>
    </li>
  </ul>
  <div class="tab-content py-3">
    <div class="tab-pane tab-pane-general active">
      <div class="form-check mb-2">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="enabled" ng-model="entity.enabled">
          Enabled
        </label>
      </div>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">Groupname</span>
        <input class="form-control" type="text" name="groupname" ng-model="entity.groupname" ng-class="{'border-danger': uiState.groupnameVerified === false}" />
        <small class="form-text" ng-class="{'text-success': uiState.groupnameVerified === true, 'text-danger': uiState.groupnameVerified === false}" ng-if="uiState.groupnameVerifiedMessage">{{uiState.groupnameVerifiedMessage}}</small>
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">Email</span>
        <input class="form-control" type="email" name="email" ng-model="entity.email" ng-class="{'border-danger': uiState.emailVerified === false}" />
        <small class="form-text" ng-class="{'text-success': uiState.emailVerified === true, 'text-danger': uiState.emailVerified === false}" ng-if="uiState.emailVerifiedMessage">{{uiState.emailVerifiedMessage}}</small>
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">Display Name</span>
        <input class="form-control" type="text" name="name" ng-model="entity.name" />
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">Avatar</span>
        <input class="form-control" type="text" name="avatar" ng-model="entity.avatar" />
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">Phone</span>
        <input class="form-control" type="tel" name="phone" ng-model="entity.phone" />
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">Timezone</span>
        <select class="form-control" ng-options="timezone for timezone in clientConfig.timezones" name="timezone" ng-model="entity.timezone">
          <option value="">- System Default -</option>
        </select>
      </label>
      <div>
        <div class="mb-2">Parent</div>
        <div class="row">
          <div class="col" ng-if="!entity.parent">No Parent</div>
          <div class="col" ng-if="entity.parent">{{entity.parent.name+' ('+entity.parent.groupname+')'}}</div>
          <div class="col text-right" ng-if="entity.parent"><button class="btn btn-danger btn-sm" type="button" ng-click="entity.parent = null"><i class="fa fa-minus" aria-hidden="true"></i></button></div>
        </div>
        <div class="text-right my-3">
          Change parent:
          <input class="form-control d-inline align-bottom" style="width: auto;" type="text" name="search-parents" ng-model="uiState.parentSearch" ng-keydown="$event.keyCode === 13 ? ($event.preventDefault() || $event.stopPropagation()) : void(0)" />
          <div class="btn-group">
            <button ng-click="searchParents()" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item disabled" type="button" disabled ng-if="parents === null"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i> Searching...</button>
              <button class="dropdown-item disabled" type="button" disabled ng-if="parents.length === 0">No results</button>
              <button class="dropdown-item" type="button" ng-repeat="group in parents track by group.guid" ng-click="entity.parent = group">{{group.name+' ('+group.groupname+')'}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="defaultPrimary" ng-model="entity.defaultPrimary">
          Default primary group for newly registered users.
        </label>
        <small class="form-text text-muted">Setting this will unset any current default primary group.</small>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="defaultSecondary" ng-model="entity.defaultSecondary">
          Default secondary group for newly registered{{(clientConfig.verify_email && clientConfig.unverified_access) ? ', verified' : ''}} users.
        </label>
      </div>
      <div class="form-check" ng-if="clientConfig.verify_email && clientConfig.unverified_access">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="unverifiedSecondary" ng-model="entity.unverifiedSecondary">
          Default secondary group for newly registered, unverified users.
        </label>
      </div>
    </div>
    <div class="tab-pane tab-pane-abilities">
      <div>
        <div class="mb-2">Abilities</div>
        <div>
          <table class="table table-striped" ng-if="entity.abilities.length">
            <thead>
              <tr>
                <th>#</th>
                <th>Ability</th>
                <th class="text-right">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ability in entity.abilities track by $index">
                <td class="align-middle">{{$index + 1}}</td>
                <td class="align-middle">{{ability}}</td>
                <td class="text-right"><button class="btn btn-danger btn-sm" type="button" ng-click="entity.abilities.splice($index, 1)"><i class="fa fa-minus" aria-hidden="true"></i></button></td>
              </tr>
            </tbody>
          </table>
          <div class="text-right my-3">
            Add an ability: <input class="form-control d-inline align-bottom" style="width: auto;" type="text" name="ability" ng-model="uiState.ability" ng-keydown="$event.keyCode === 13 ? (addAbility() || $event.preventDefault() || $event.stopPropagation()) : void(0)" /> <button class="btn btn-primary" type="button" ng-click="addAbility()"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button class="btn btn-warning" type="button" ng-click="addSysAdminAbility()" ng-if="sysAdmin">Make SysAdmin Group</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <input class="btn btn-primary" type="submit" value="Save" />
    <span ng-if="success" class="badge badge-success">Successfully saved!</span>
    <input class="btn btn-danger float-right" type="button" value="Delete" ng-if="entity.guid" ng-click="deleteEntity()" />
  </div>
</form>
