<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col align-self-center">
        User Search
      </div>
      <div class="col text-right">
        <button class="btn btn-secondary btn-sm" ng-click="setEntity()">Create New User</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="input-group">
      <input class="form-control align-bottom" type="text" name="search-entities" ng-model="uiState.entitySearch" ng-keydown="$event.keyCode === 13 ? ($event.preventDefault() || $event.stopPropagation()) : void(0)" />
      <div class="input-group-append">
        <button ng-click="searchEntities()" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item disabled" type="button" disabled ng-if="entities === null"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i> Searching...</button>
          <button class="dropdown-item disabled" type="button" disabled ng-if="entities.length === 0">No results</button>
          <button class="dropdown-item" type="button" ng-repeat="curEntity in entities track by curEntity.guid" ng-click="setEntity(curEntity)">{{curEntity.name+' ('+curEntity.username+')'}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-3 border border-top-0 border-right-0 border-left-0">
  <h2>Editing {{entity.guid ? (entity.$is(currentUser) ? 'Yourself' : entity.name) : 'New User'}}</h2>
</div>
<form name="userform" ng-submit="saveEntity()" autocomplete="off">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href=".tab-pane-general" data-toggle="tab" role="tab" aria-selected="true">General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=".tab-pane-groups" data-toggle="tab" role="tab" aria-selected="false">Groups</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=".tab-pane-location" data-toggle="tab" role="tab" aria-selected="false">Address</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=".tab-pane-abilities" data-toggle="tab" role="tab" aria-selected="false">Abilities</a>
    </li>
  </ul>
  <div class="tab-content py-3">
    <div class="tab-pane tab-pane-general active">
      <div class="float-right text-right">
        <a href="https://en.gravatar.com/" target="_blank">
          <img class="img-thumbnail" ng-src="{{avatar}}" alt="Avatar" title="Avatar by Gravatar" />
        </a>
      </div>
      <div class="form-check mb-2">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="enabled" ng-model="entity.enabled">
          Enabled
        </label>
      </div>
      <label class="d-block form-group" ng-if="!clientConfig.email_usernames">
        <span class="d-inline-block mb-2">Username</span>
        <input class="form-control" type="text" name="username" ng-model="entity.username" ng-class="{'border-danger': uiState.usernameVerified === false}" />
        <small class="form-text" ng-class="{'text-success': uiState.usernameVerified === true, 'text-danger': uiState.usernameVerified === false}" ng-if="uiState.usernameVerifiedMessage">{{uiState.usernameVerifiedMessage}}</small>
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">Email</span>
        <input class="form-control" type="email" name="email" ng-model="entity.email" ng-class="{'border-danger': uiState.emailVerified === false}" />
        <small class="form-text" ng-class="{'text-success': uiState.emailVerified === true, 'text-danger': uiState.emailVerified === false}" ng-if="uiState.emailVerifiedMessage">{{uiState.emailVerifiedMessage}}</small>
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">First Name</span>
        <input class="form-control" type="text" name="nameFirst" ng-model="entity.nameFirst" />
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">Middle Name</span>
        <input class="form-control" type="text" name="nameMiddle" ng-model="entity.nameMiddle" />
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">Last Name</span>
        <input class="form-control" type="text" name="nameLast" ng-model="entity.nameLast" />
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">Avatar</span>
        <input class="form-control" type="text" name="avatar" ng-model="entity.avatar" />
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">Phone</span>
        <input class="form-control" type="tel" name="phone" ng-model="entity.phone" />
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">Timezone</span>
        <select class="form-control" ng-options="timezone for timezone in clientConfig.timezones" name="timezone" ng-model="entity.timezone">
          <option value="">- Inherit From Group -</option>
        </select>
        <small class="form-text text-muted">This overrides the primary group's timezone.</small>
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2"><span ng-if="entity.guid">Update </span>Password</span>
        <input class="form-control" type="password" name="password" ng-model="entity.passwordTemp" />
      </label>
      <label class="d-block form-group">
        <span class="d-inline-block mb-2">Repeat Password</span>
        <input class="form-control" type="password" name="password2" ng-model="uiState.verifyPassword" ng-keyup="verifyPassword()" ng-class="{'border-danger': uiState.passwordVerified === false}" />
      </label>
    </div>
    <div class="tab-pane tab-pane-groups">
      <div>
        <div class="mb-2">Primary Group</div>
        <div class="row">
          <div class="col" ng-if="!entity.group">No Primary Group</div>
          <div class="col" ng-if="entity.group">{{entity.group.name+' ('+entity.group.groupname+')'}}</div>
          <div class="col text-right" ng-if="entity.group"><button class="btn btn-danger btn-sm" type="button" ng-click="entity.group = null"><i class="fa fa-minus" aria-hidden="true"></i></button></div>
        </div>
        <div class="text-right my-3">
          Change primary group:
          <input class="form-control d-inline align-bottom" style="width: auto;" type="text" name="search-primary-groups" ng-model="uiState.primaryGroupSearch" ng-keydown="$event.keyCode === 13 ? ($event.preventDefault() || $event.stopPropagation()) : void(0)" />
          <div class="btn-group">
            <button ng-click="searchPrimaryGroups()" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item disabled" type="button" disabled ng-if="primaryGroups === null"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i> Searching...</button>
              <button class="dropdown-item disabled" type="button" disabled ng-if="primaryGroups.length === 0">No results</button>
              <button class="dropdown-item" type="button" ng-repeat="group in primaryGroups track by group.guid" ng-click="entity.group = group">{{group.name+' ('+group.groupname+')'}}</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="mb-2">Secondary Groups</div>
        <div>
          <table class="table table-striped" ng-if="entity.groups.length">
            <thead>
              <tr>
                <th>Name</th>
                <th>Groupname</th>
                <th class="text-right">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="group in entity.groups track by group.guid">
                <td class="align-middle">{{group.name}}</td>
                <td class="align-middle">{{group.groupname}}</td>
                <td class="text-right"><button class="btn btn-danger btn-sm" type="button" ng-click="entity.groups.splice($index, 1)"><i class="fa fa-minus" aria-hidden="true"></i></button></td>
              </tr>
            </tbody>
          </table>
          <div class="text-right my-3">
            Add secondary group:
            <input class="form-control d-inline align-bottom" style="width: auto;" type="text" name="search-secondary-groups" ng-model="uiState.secondayGroupSearch" ng-keydown="$event.keyCode === 13 ? ($event.preventDefault() || $event.stopPropagation()) : void(0)" />
            <div class="btn-group">
              <button ng-click="searchSecondaryGroups()" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item disabled" type="button" disabled ng-if="secondaryGroups === null"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i> Searching...</button>
                <button class="dropdown-item disabled" type="button" disabled ng-if="secondaryGroups.length === 0">No results</button>
                <button class="dropdown-item" type="button" ng-repeat="group in secondaryGroups track by group.guid" ng-click="entity.groups.push(group)">{{group.name+' ('+group.groupname+')'}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane tab-pane-location">
      <div class="form-group">
        <span class="d-block mb-2">Address Type</span>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="addressType" value="us" ng-model="entity.addressType" />
            US
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="addressType" value="international" ng-model="entity.addressType" />
            International
          </label>
        </div>
      </div>
      <div ng-if="entity.addressType === 'us'">
        <label class="d-block form-group">
          <span class="d-inline-block mb-2">Address</span>
          <input class="form-control" type="text" name="addressStreet" ng-model="entity.addressStreet" />
        </label>
        <label class="d-block form-group">
          <span class="d-inline-block mb-2">Address 2</span>
          <input class="form-control" type="text" name="addressStreet2" ng-model="entity.addressStreet2" />
        </label>
        <div class="form-row">
          <label class="d-block form-group col-md-6">
            <span class="d-inline-block mb-2">City</span>
            <input class="form-control" type="text" name="addressCity" ng-model="entity.addressCity" />
          </label>
          <label class="d-block form-group col-md-4">
            <span class="d-inline-block mb-2">State</span>
            <select class="form-control" name="addressState" ng-model="entity.addressState">
              <option value="">None</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">DC</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
              <option value="AA">Armed Forces (AA)</option>
              <option value="AE">Armed Forces (AE)</option>
              <option value="AP">Armed Forces (AP)</option>
            </select>
          </label>
          <label class="d-block form-group col-md-2">
            <span class="d-inline-block mb-2">Zip</span>
            <input class="form-control" type="text" name="addressZip" ng-model="entity.addressZip" />
          </label>
        </div>
      </div>
      <div ng-if="entity.addressType === 'international'">
        <label class="d-block form-group">
          <span class="d-inline-block mb-2">Address</span>
          <textarea class="form-control" style="width: 100%;" rows="3" cols="35" name="addressInternational" ng-model="entity.addressInternational"></textarea>
        </label>
      </div>
    </div>
    <div class="tab-pane tab-pane-abilities">
      <div>
        <div class="mb-2">Abilities</div>
        <div>
          <table class="table table-striped" ng-if="entity.abilities.length">
            <thead>
              <tr>
                <th>#</th>
                <th>Ability</th>
                <th class="text-right">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ability in entity.abilities track by $index">
                <td class="align-middle">{{$index + 1}}</td>
                <td class="align-middle">{{ability}}</td>
                <td class="text-right"><button class="btn btn-danger btn-sm" type="button" ng-click="entity.abilities.splice($index, 1)"><i class="fa fa-minus" aria-hidden="true"></i></button></td>
              </tr>
            </tbody>
          </table>
          <div class="text-right my-3">
            Add an ability: <input class="form-control d-inline align-bottom" style="width: auto;" type="text" name="ability" ng-model="uiState.ability" ng-keydown="$event.keyCode === 13 ? (addAbility() || $event.preventDefault() || $event.stopPropagation()) : void(0)" /> <button class="btn btn-primary" type="button" ng-click="addAbility()"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button class="btn btn-warning" type="button" ng-click="addSysAdminAbility()" ng-if="sysAdmin">Make SysAdmin</button>
          </div>
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="inheritAbilities" ng-model="entity.inheritAbilities">
          Additionally, inherit the abilities of the group(s) this user belongs to.
        </label>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <input class="btn btn-primary" type="submit" value="Save" />
    <span ng-if="success" class="badge badge-success">Successfully saved!</span>
    <input class="btn btn-danger float-right" type="button" value="Delete" ng-if="entity.guid" ng-click="deleteEntity()" />
  </div>
</form>
